<h2><i>$ test_channel $</i></h2>
<div class="messages-section">
  <h1>Select a channel (:</h1>
  <h1>Select a channel (:</h1>
  <h1>Select a channel (:</h1>
  <h1>Select a channel (:</h1>
  <h1>Select a channel (:</h1>
  <h1>Select a channel (:</h1>
  <h1>Select a channel (:</h1>
  <h1>Select a channel (:</h1>
</div>
<div class="f-row responsive">
  <textarea class="textarea-light f-col-4" rows="3" placeholder="Textarea text here"></textarea>
  <button type="button" class="btn-pop f-col-1 flex-center">Send</button>
</div>
