<!--Sidebar-->

<div class="side-bar bg-pop">
  <head>
  <!--put in your own logo here-->
    <img src="img/logo-thick-light.svg" alt="tuxedo logo">
  </head>
  <ul class="underline-light">
    <h3>Public Channels</h3>
    <li><a># general</a></li>
    <li><a># new</a></li>
  </ul>
  <ul>
    <h3>Private Channels</h3>
    <li><a>Menu Item 3</a></li> 
  </ul>
</div><br>
<div class="side-bar-content">
  <div id="channel_messages_section">
    <div id="main_channel_name">
    </div>
    <div id="main_channel_messages">
    </div>
  </div>
</div>
