<div class="side-bar bg-pop" id="my-team-sidebar">
  <head>
    <h1><%= @team.name %></h1>
  </head><br><hr><br>
  <h2 class="text-light">Channels</h2>
  <div class="f-row responsive">
    <%= link_to "+ New Channel", new_team_channel_path(@team), remote: true, class: 'f-col-1 btn-ghost-light' %>
  </div>
  <% if @team.channels.any? %>
    <% if @team.channels.where(public: true).any?  %>
      <ul class="underline-light">
        <% @team.channels.where(public: true).each do |channel| %>
          <li><%= link_to channel.name, team_channel_path(@team, channel), remote: true %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @team.channels.where(public: false).any?  %>
      <ul class="underline-light">
        <% @team.channels.where(public: false).each do |channel| %>
          <li><%= link_to channel.name, team_channel_path(@team, channel), remote: true %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<div class="side-bar-content" style="text-align: center;">
  <h1 id="initial-team-greeting">Please select a channel, or create a new one :)</h1>
  <div id="my-sidebar-content">
  </div>
</div>
