<div class="f-row responsive">
  <textarea class="textarea-light f-col-4" rows="3" placeholder="Textarea text here"></textarea>
  <button type="button" class="btn-pop f-col-1 flex-center">Send</button>
</div>
