<%= form_for [channel, message], class: 'box-pop message-form f-row responsive', remote: true do |f| %>
  <%= f.text_area :content, rows: 3, class: 'textarea-light f-col-4 flex-center', placeholder: 'Message', data: {textarea: "message"} %>
  <div class="actions">
    <%= f.submit "Send", class: 'btn-pop f-col-1 flex-center send-message-button', data: {send: "message"} %>
  </div>
<% end %>
