<button type="button" class="btn-dark">Button</button>
<br><hr><br>
<button type="button" class="btn-pop">Button</button>
<br><hr><br>
<button type="button" class="btn-ghost-dark">Ghost Button</button>
<br><hr><br>
<label class="text-dark">Checkboxes</label>
<div class="checkbox-dark">
  <input type="checkbox" id="red">
  <label for="red">Red</label>
</div>
<div class="checkbox-dark">
  <input type="checkbox" id="yellow">
  <label for="yellow">Yellow</label>
</div>
<div class="checkbox-dark">
  <input type="checkbox" id="green">
  <label for="green">Green</label>
</div>
