<div class="hero">
  <%= image_tag "sea.jpg", class: 'hero-image' %>
  <div class="hero-content">
    <header>
      <h1 class="text-pop">Welcome</h1>
    </header>
    <div class="hero-body">
      <h4 class="text-pop text-center">Your new favorite team workspace.</h4>
      <br>
      <div class="f-row">
        <form>
          <button class="btn-pop" type="button">Get Started</button>
        </form>
      </div>
    </div>
  </div>
</div>
